@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --delete-red: #ed2d2d;
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  --color-yellow: #FFAA22;
  --error-red: #f66565;
}

/* default styling  */
body{
  font-family: 'Anek Devanagari', sans-serif;
}
a {
  color: unset;
  text-decoration: none;
}
textarea {
  resize: none;
}
/*Utility styles*/
.main{
  width: 100%;
  height: 100%;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.main{
  width: 100%;
  height: 100%;
}

.show{
  display: block;
}

.hide{
  display: none;
}
.loading-icon{
  height: 200px !important;
  margin-top: 4em;
  width: 150px !important;
}
/*Animation Styling*/
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


