/***************************************** BREAKPOINT for Large devices ********************************************************/
@media screen and (min-width: 1010px)  {
    .location-img{
        height: 400px;
    }
    .location-h1{
        color: var(--color-yellow);
        font-size: 2.7em;
        font-weight: bolder;
        margin: 1em 0em;
    }
    .location-text{
        border-top: solid 6px var(--color-yellow);
        color: var(--color-yellow);
        display: flex;
        justify-content: center;
        padding: 2em 0em;
        margin-top: 2em;
        width: 500px;
    }
    .location-text p{
        font-size: 1.2em;
        padding: 0.3em 1em;
    }
}
/***************************************** BREAKPOINT for Medium devices ********************************************************/
@media screen and (max-width: 1010px) {
    .location-img{
        height: 400px;
    }
    .location-h1{
        color: var(--color-yellow);
        font-size: 2.7em;
        font-weight: bolder;
        margin: 1em 0em;
    }
    .location-text{
        border-top: solid 6px var(--color-yellow);
        color: var(--color-yellow);
        display: flex;
        justify-content: center;
        padding: 2em 0em;
        margin-top: 2em;
        width: 500px;
    }
    .location-text p{
        font-size: 1.2em;
        padding: 0.3em 1em;
    }
}
/***************************************** BREAKPOINT for small devices ********************************************************/
@media screen and (max-width: 670px) {
    .location-img{
        height: 200px;
    }
    .location-h1{
        color: var(--color-yellow);
        font-size: 1.7em;
        font-weight: bolder;
        margin: 1em 0em;
    }
    .location-text{
        border-top: solid 6px var(--color-yellow);
        color: var(--color-yellow);
        display: flex;
        justify-content: center;
        padding: 2em 0em;
        margin-top: 2em;
        width: 500px;
    }
    .location-text p{
        font-size: 1.2em;
        padding: 0.3em 1em;
    }
}