/***************************************** BREAKPOINT for Large devices ********************************************************/
@media screen and (min-width: 1010px)  {
    #nav-logo{
        height: 90px;
    }
    .app__navbar{
        align-items: center;
        background: var(--color-yellow);
        display: flex;
        flex-wrap: nowrap;
        padding: 0.5em 0em;
        flex-direction: row;
        list-style: none;
        opacity: 0.95;
        width: 100vw;
    }
    .app__navbar-links{
        flex: 1;
        display: flex;
        align-items: center;
    
        list-style: none;
    }
    .app__navbar-links li{
        font-size: 1.7em;
        font-weight: 700;
        margin: 0 2rem;
        cursor:pointer;
        transition: 0.5s ease;
    }
    .app__navbar-links li:hover{
       color: var(--color-white);
    }
    .app__navbar-right{
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1rem 4rem;
    }
    
    .app__navbar-right p, #cart{
        margin: 0em 1rem;
        font-size: 1.7em;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: 0.5s ease;
    }
    .app__navbar-right p i{
        margin: 0em 0.5em;
    }
    .app__navbar-right p:hover{
      color: var(--color-white);
    }
}
/***************************************** BREAKPOINT for Medium devices ********************************************************/
@media screen and (max-width: 1010px) {

}
/***************************************** BREAKPOINT for small devices ********************************************************/
@media screen and (max-width: 670px) {}
