/* Global Styling */
.show-mobileNav{
  opacity: 100% !important;
  height: 260px !important;
}
/* css for the checkout basket  */
.hide-basket{
  overflow: clip;
  height: 0px !important;
  opacity: 0;
}
.app__navbar{
  z-index: 1;
  position: relative;
  max-height: 110px;
}
.BasketContainer{
  z-index: 1;
}
#Users-Cart{
  border-top: none !important;
}
/***************************************** BREAKPOINT for Large devices ********************************************************/
@media screen and (min-width: 1010px)  {
  .mobile-navbar, .moblie-menu, .mobile_app__navbar-right{
    display: none;
  }
    #nav-logo{
        height: 90px;
    }
    .app__navbar{
        align-items: center;
        background: var(--color-yellow);
        display: flex;
        flex-wrap: nowrap;
        padding: 0.5em 0em;
        flex-direction: row;
        list-style: none;
        opacity: 0.95;
        width: 100vw;
    }
    .app__navbar-links{
        flex: 1;
        display: flex;
        align-items: center;
    
        list-style: none;
    }
    .app__navbar-links li{
        font-size: 1.7em;
        font-weight: 700;
        margin: 0 2rem;
        cursor:pointer;
        transition: 0.5s ease;
    }
    .app__navbar-links li:hover{
       color: var(--color-white);
    }
    .app__navbar-right{
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1rem 4rem;
    }
    #cart{
      cursor: pointer;
      margin: 0em 1em;
    }
    .fa.fa-shopping-cart{
      margin-bottom: 0.3em;
    }
    .fa.fa-fw.fa-user, .fa.fa-shopping-cart{
      font-size: 1.7em !important;
    }
    .logni-link{
      display: inline-block;
      width: 140px;
      padding: 0.3em;
      text-align: left;
    }

    #login{
      background-color: #C48623;
      padding: 0.5em 0.2em;
    }
    .app__navbar-right p, #cart{
        display: inline-block;
        font-size: 1.3em;
        margin: 0em 1rem;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        transition: 0.5s ease;
    }
    .app__navbar-right p:hover{
      color: var(--color-white);
    }
  .BasketContainer {
    display: grid;
    grid-template-columns: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-top: none;
    padding: 1em 0.5em;
    position: absolute;
    overflow: hidden;
    right: 0.2px;
    transition: 0.5s ease;
    top: 122px;
    height: 74vh;
    width: 410px;
  }
  
.cartItem{
    color: var(--color-white) !important;
    display: flex;
    flex-direction: row;
    font-size: 1em !important;
    background-color: var(--color-yellow);
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    overflow: clip;
    margin: 0.6em 0em;
}
#Users-Cart {
  align-self: flex-start;
    list-style: none;
    height: 40vh !important;
    overflow-y: scroll;
  }
  .cartItemCard {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .Order-ItemName {
    font-weight: bold;
    margin: 0em 0.2em;
    width:170px
  }
  
  .Order-ItemPrice {
    margin: 0em 0.2em;
  }
  
  .Order-Count {
    width: 50px;
    padding: 0.2em;
    margin: 0em 0.5em;
  }
  
  .Order-Remove {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width:140px
  }
  
  .Order-Remove:hover {
    background-color: var(--color-yellow);
  }
  
  .summaryli{
    padding: auto;
  }
  .empty-message {
    padding: 1em;
    color: var(--delete-red);
  font-size: 1.2em;
  font-weight: bold;
  }
  .checkoutbtn{
    border-radius: 10px;
    width: auto;
    padding: 10px 18px;
    background-color: var(--color-yellow);
    flex-direction: column;
    margin-top: auto;
    padding: 20px;
    padding-right: 20px;
    border: 1px solid #888;
  }
  .SumContainer {
    align-self: self-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 1em;
  }
  
  .pricesummary {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .summaryli {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .summaryli li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .summaryli li.total {
    font-weight: bold;
    font-size: 1.4em;
  }
  
  .summaryli li span {
    font-weight: bold;
  }
  
  a.checkoutbtn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.17s;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  a.checkoutbtn:hover {
    background-color: var(--color-yellow);
  }

}
/***************************************** BREAKPOINT for Medium devices ********************************************************/
@media screen and (max-width: 1010px) {
  .mobile-navbar, .moblie-menu{
    display: none;
  }
  .logo-container{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 1em;
  }
  .moblie-menu{
    align-content: center;
    display: grid;
    font-size: 2.6em;
    padding: 0em 0.5em;
    justify-items:last baseline;
  }
.app__navbar-links{
  display: none;

}
#nav-logo{
  height: 80px;
}
/* Navbar styling */
.app__navbar{
  align-items: center;
  display: grid;
  background: var(--color-yellow);
  flex-wrap: nowrap;
  padding: 0.5em 0em 0em 0em;
  flex-direction: row;
  list-style: none;
  opacity: 0.95;
  width: 100vw;
}
.app__navbar-right{
  display: none; 
  
}
/*Mobile navbar styling*/
#mobile-cart{
  align-items: center;
  display: flex;
  font-size: 1.5em;
}
.mobile_app__navbar-right{
  align-content: end;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 1em;
}

.mobile-navbar{
  align-items: center;
  background-color: var(--mobileNav-green);
  color: white;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  flex-direction: column;
  height: 0px;
  padding:0.7em 0em;
  position: absolute;
  opacity: 0%;
  overflow: clip;
  transition: 0.5s ease;
  top: 109px;
  width: 100vw;
}
.mobile-navbar li{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.3em 0em;
  width: 90% !important;
}
.p__opensans{
  display: grid;
  justify-content: center;
  margin: 0.5em 0em;
  width: 100%;
}
#login, #cart{
  cursor: pointer;
}
  /* Basket styling*/
  .BasketContainer{
    display: grid;
    grid-template-columns: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 1em 0.5em;
    position: absolute;
    overflow: hidden;
    transition: 0.5s ease;
    background-color: white;
    width: 100vw;
    height: 700px;
  }
  .cartItem{
    color: var(--color-white) !important;
    display: flex;
    flex-direction: row;
    font-size: 1em !important;
    background-color: var(--color-yellow);
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    overflow: clip;
    margin: 0.6em 0em;
    width: 95%;
}
#Users-Cart {
    align-self: flex-start;
    list-style: none;
    height: 60vh !important;
    overflow-y: scroll;
    width: 96%;
    border: solid 2px var(--color-yellow);
    padding: 0em 0.5em;
  }
  .cartItemCard {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .Order-ItemName {
    font-weight: bold;
    margin: 0em 0.2em;
    width:170px
  }
  
  .Order-ItemPrice {
    margin: 0em 0.2em;
  }
  
  .Order-Count {
    width: 50px;
    padding: 0.2em;
    margin: 0em 0.5em;
  }
  
  .Order-Remove {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width:140px
  }
  
  .Order-Remove:hover {
    background-color: var(--color-yellow);
  }
  
  .summaryli{
    padding: auto;
  }

  .checkoutbtn{
    border-radius: 10px;
    width: auto;
    padding: 10px 18px;
    background-color: var(--color-yellow);
    flex-direction: column;
    margin-top: auto;
    padding: 20px;
    padding-right: 20px;
    border: 1px solid #888;
  }
  .SumContainer {
    align-self: self-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 1em;
    width: 90%
  }
  
  .pricesummary {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .summaryli {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .summaryli li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .summaryli li.total {
    font-weight: bold;
    font-size: 1.4em;
  }
  
  .summaryli li span {
    font-weight: bold;
  }
  
  a.checkoutbtn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.17s;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  a.checkoutbtn:hover {
    background-color: var(--color-yellow);
  }
  /*****/
  .logo-container{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 1em;
  }
  .moblie-menu{
    align-content: center;
    display: grid;
    font-size: 2.6em;
    padding: 0em 0.5em;
    justify-items:last baseline;
  }

  .app__navbar-links{
  display: none;

}
}
/***************************************** BREAKPOINT for small devices ********************************************************/
@media screen and (max-width: 670px) {
  /* Basket styling*/
  .BasketContainer{
    display: grid;
    grid-template-columns: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    background-color: white;
    justify-items: center;
    padding: 0em;
    position: absolute;
    overflow: hidden;
    transition: 0.5s ease;
    width: 100vw;
    height: 700px;
  }
  .cartItem{
    color: var(--color-white) !important;
    display: flex;
    flex-direction: row;
    font-size: 1em !important;
    background-color: var(--color-yellow);
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    overflow: clip;
    margin: 0.6em 0em;
    width: 95%;
}
#Users-Cart {
    align-self: flex-start;
    list-style: none;
    height: 60vh !important;
    overflow-y: scroll;
    width: 92%;
    border: solid 2px var(--color-yellow);
    padding: 0em 0.5em;
  }
  .cartItemCard {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .Order-ItemName {
    font-weight: bold;
    margin: 0em 0.2em;
    width:170px
  }
  
  .Order-ItemPrice {
    margin: 0em 0.2em;
  }
  
  .Order-Count {
    width: 50px;
    padding: 0.2em;
    margin: 0em 0.5em;
  }
  
  .Order-Remove {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width:140px
  }
  
  .Order-Remove:hover {
    background-color: var(--color-yellow);
  }
  
  .summaryli{
    padding: auto;
  }

  .checkoutbtn{
    border-radius: 10px;
    width: auto;
    padding: 10px 18px;
    background-color: var(--color-yellow);
    flex-direction: column;
    margin-top: auto;
    padding: 20px;
    padding-right: 20px;
    border: 1px solid #888;
  }
  .SumContainer {
    align-self: self-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 1em;
    width: 90%
  }
  
  .pricesummary {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .summaryli {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .summaryli li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .summaryli li.total {
    font-weight: bold;
    font-size: 1.4em;
  }
  
  .summaryli li span {
    font-weight: bold;
  }
  
  a.checkoutbtn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.17s;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  a.checkoutbtn:hover {
    background-color: var(--color-yellow);
  }
  /*****/
  .logo-container{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 1em;
  }
  .moblie-menu{
    align-content: center;
    display: grid;
    font-size: 2em;
    padding: 0em 0.5em;
    justify-items:last baseline;
  }

  .app__navbar-links{
  display: none;

}
#nav-logo{
  height: 80px;
}
/* Navbar styling */
.app__navbar{
  align-items: center;
  display: grid;
  background: var(--color-yellow);
  flex-wrap: nowrap;
  padding: 0.5em 0em 0em 0em;
  flex-direction: row;
  list-style: none;
  opacity: 0.95;
  width: 100vw;
}
.app__navbar-right{
  display: none; 
  
}
/*Mobile navbar styling*/
#mobile-cart{
  align-items: center;
  display: flex;
  font-size: 1.2em;
}
.mobile_app__navbar-right{
  align-content: end;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 1em;
}

.mobile-navbar{
  align-items: center;
  background-color: var(--mobileNav-green);
  color: white;
  display: flex;
  font-size: 1em;
  font-weight: bold;
  flex-direction: column;
  height: 0px;
  padding:0.7em 0em;
  opacity: 0%;
  overflow: clip;
  transition: 0.5s ease;
  top: 109px;
  width: 100vw;
}

.mobile-navbar li{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.3em 0em;
  width: 90% !important;
}
.p__opensans{
  display: grid;
  justify-content: center;
  margin: 0.5em 0em;
  width: 100%;
}
#login, #cart{
  cursor: pointer;
}
}



  