
.orangeBackground{
    background: var(--background_color);
    min-height: 100vh;
    position: relative;
    z-index: -1;
}
.logo{
    display: grid;
    grid-template-columns: 50% 50%;
}
.PicLogo{
    max-width: 400px;
}
/********************   Mobile Device  s***************** *

/*Upper background styling */
@media  screen and (max-width:670px) {
    /*Heading sizes*/
    h1{
        font-size: 2.1em !important;
    } 
    h2{
        font-size: 1.3em !important;
    }
    h3{
        font-size: 0.9em!important;
    } 

    .TextLogo{
        max-width: 80%;
    }
}