.Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
    min-height: 80%;
}
.Menu{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-items: center;
    justify-content: center;
    padding-top: 2em;
    width: 100%;
}