.Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
    min-height: 100vh;
}
    /*Entire Menu styling*/
    .Menu{
        background-color: var(--color-secyellow);
        display: grid;
        grid-template-columns: 30% 30%;
        justify-items: center;
        justify-content: center;
        padding-top: 2em;
        width: 100%;
    }
    /***************************************** BREAKPOINT for Medium devices ********************************************************/
    @media screen and (max-width: 1010px){
        .Menu{
            grid-template-columns: 50% 50%;
        }
    }
    /***************************************** BREAKPOINT for small devices ********************************************************/
    @media screen and (max-width: 670px) {
        .Page{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw !important;
            min-height: 100vh;
        }
    }