.Page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
    min-height: 80%;
}
    /*Entire Menu styling*/
    .Menu{
        background-color: var(--color-secyellow);
        display: grid;
        grid-template-columns: 30% 30%;
        justify-items: center;
        justify-content: center;
        padding-top: 2em;
        width: 100%;
    }